{% extends 'app/base.html' %}

{% block content %}
    {% if account.contractor %}
    <h1>Contractor Dashboard</h1>
        <div>
            <h2>Account Information</h2>
            <p>Username: {{ account.user.username }}</p>
            <p>Email: {{ account.user.email }}</p>
            <p>Balance: {{ account.balance }} $</p>
        </div>
        <div>
            <h2>Your Submitted Bids</h2>
        </div>
        <div>
            <h2>Your Assigned Jobs</h2>
        </div>
        <div>
            <h2>Your Completed Jobs</h2>
        </div>
    {% else %}
        <h1>Access not authorized</h1>
        <p>Access denied! <a href="#">Sign up</a> to be a contractor to access this page.</p>
    {% endif %}
{% endblock content %}