{% extends 'app/base.html' %}

{% block content %}

    <h1 style="text-transform: capitalize;">{{ job.title }}'s Status</h1>
    <div>
        {% if job.status == JOB_STATUS_ACCEPTED%}
            <p>Status: Accpeted</p>
        {% elif job.status == JOB_STATUS_AVAILABLE%}
            <p>Status: Available</p>
        {% elif job.status == JOB_STATUS_IN_PROGRESS%}
            <p>Status: In progress</p>
        {% elif job.status == JOB_STATUS_COMPLETE%}
            <p>Status: Complete</p>
        {% endif %}
    </div>

{% endblock content %}