{% extends 'app/base.html' %}

{% block content %}

    <h1 style="text-transform: capitalize;">{{account.user.username}}'s Profile</h1>
    <div>
        <h2>Profile Information</h2>
        <p>First Name: {{account.first_name}}</p>
        <p>Last Name: {{account.last_name}}</p>
        <p>Email: {{account.user.email}}</p>
    </div>
    <div>
        {% if is_Owner %}
            <div>
                <h2 style="text-transform: capitalize;">{{account.user.username}}'s Accepted Jobs</h2>
                {% if accepted_jobs %}
                    {% for job in accepted_jobs %}
                        <div style="border: 1px solid black">
                            <h3 style="text-transform: capitalize;">Title: {{ job.title }}</h3>
                            <p style="text-transform: capitalize;">Description: {{ job.description }}</p>
                            <p style="text-transform: capitalize;">Job issuer: {{ job.user.username }}</p>
                            <p style="text-transform: capitalize;">Location: {{ job.location }}</p>
                            <p style="text-transform: capitalize;">Job Type: {{ job.type }}</p>
                            <p>Budget: {{ job.budget }} €</p>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No accepted jobs yet!</p>
                {% endif %}
            </div>
            <div>
                <h2 style="text-transform: capitalize;">{{account.user.username}}'s Completed Jobs</h2>
                {% if completed_jobs %}
                    {% for job in completed_jobs %}
                        <div style="border: 1px solid black">
                            <h3 style="text-transform: capitalize;">Title: {{ job.title }}</h3>
                            <p style="text-transform: capitalize;">Description: {{ job.description }}</p>
                            <p style="text-transform: capitalize;">Job issuer: {{ job.user.username }}</p>
                            <p style="text-transform: capitalize;">Location: {{ job.location }}</p>
                            <p style="text-transform: capitalize;">Job Type: {{ job.type }}</p>
                            <p>Budget: {{ job.budget }} €</p>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No completed jobs yet!</p>
                {% endif %}
            </div>
        {% endif %}
    </div>
    <br>
    {% if account.contractor %}
        <h1 style="text-transform: capitalize;">{{account.user.username}}'s Contractor Profile</h1>
        <div>
            <h2>Profile Information</h2>
            <p>First Name: {{account.first_name}}</p>
            <p>Last Name: {{account.last_name}}</p>
            <p>Email: {{account.user.email}}</p>
            <p>Rating: {{rating}} &#9733;</p> <!-- &#9733; is the star symbol -->
        </div>
        <div>
            <div>
                <h2 style="text-transform: capitalize;">{{account.user.username}}'s Reviews</h2>
                {% if reviews %}
                    {% for review in reviews %}
                        <div style="border: 1px solid black;">
                            <p>By: {{review.job.user}}</p>
                            <p>{{review.rating}} &#9733;</p></p>
                            <p>{{review.review}}</p>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No reviews yet!</p>
                {% endif %}
            </div>
            {% if is_Owner %}
                <div>
                    <h2 style="text-transform: capitalize;">{{account.user.username}}'s Submitted Jobs</h2>
                    {% if submitted_jobs %}
                        {% for job in submitted_jobs %}
                            <div style="border: 1px solid black">
                                <h3 style="text-transform: capitalize;">Title: {{ job.title }}</h3>
                                <p style="text-transform: capitalize;">Description: {{ job.description }}</p>
                                <p style="text-transform: capitalize;">Job issuer: {{ job.user.username }}</p>
                                <p style="text-transform: capitalize;">Location: {{ job.location }}</p>
                                <p style="text-transform: capitalize;">Job Type: {{ job.type }}</p>
                                <p>Budget: {{ job.budget }} €</p>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>No submitted jobs yet!</p>
                    {% endif %}
                </div>
                <div>
                    <h2 style="text-transform: capitalize;">{{account.user.username}}'s Assigned Jobs</h2>
                    {% if assigned_jobs %}
                        {% for job in assigned_jobs %}
                            <div style="border: 1px solid black">
                                <h3 style="text-transform: capitalize;">Title: {{ job.title }}</h3>
                                <p style="text-transform: capitalize;">Description: {{ job.description }}</p>
                                <p style="text-transform: capitalize;">Job issuer: {{ job.user.username }}</p>
                                <p style="text-transform: capitalize;">Location: {{ job.location }}</p>
                                <p style="text-transform: capitalize;">Job Type: {{ job.type }}</p>
                                <p>Budget: {{ job.budget }} €</p>
                        </div>
                        {% endfor %}
                    {% else %}
                        <p>No assigned jobs yet!</p>
                    {% endif %}
                </div>
            {% endif %}
            <div>
                <h2 style="text-transform: capitalize;">{{account.user.username}}'s Completed Jobs</h2>
                {% if done_jobs %}
                    {% for job in done_jobs %}
                        <div style="border: 1px solid black">
                            <h3 style="text-transform: capitalize;">Title: {{ job.title }}</h3>
                            <p style="text-transform: capitalize;">Description: {{ job.description }}</p>
                            <p style="text-transform: capitalize;">Job issuer: {{ job.user.username }}</p>
                            <p style="text-transform: capitalize;">Location: {{ job.location }}</p>
                            <p style="text-transform: capitalize;">Job Type: {{ job.type }}</p>
                            <p>Budget: {{ job.budget }} €</p>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No completed jobs yet!</p>
                {% endif %}
            </div>
        </div>
    {% else %}
        {% if is_Owner %}
            <p><a href="{% url 'accounts:become_contractor' %}">Sign up</a> to be a contractor!</p>
        {% endif %}
    {% endif %}
{% endblock content %}