{% extends 'app/base.html' %}

{% block content %}

    <h1>User Dashboard</h1>
    <div>
        <h2>Account Information</h2>
        <p>Username: {{ account.user.username }}</p>
        <p>Email: {{ account.user.email }}</p>
        <p>Balance: {{ account.balance }} $</p>
    </div>
    <div>
        <h2>Your Jobs</h2>
        {% for job in jobs %}
            <div>
                <h3>{{ job.title }}</h3>
                <p>{{ job.description }}</p>
                {% if job.is_completed %}
                    <p>Completed</p>
                    <input type="button" value="Submit a dispute" onclick="window.location.href='/accounts/user_dashboard/submit_dispute/{{ account.user }}/{{ job.id }}'">
                {% else %}
                    <p>Not Completed</p>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <div>
        <h2>Your Job Quotes</h2>
    </div>
    <div>
        <h2>Your Messages</h2>
    </div>
{% endblock content %}