{% extends 'app/base.html' %}

{% block content %}

    <h1>User Dashboard</h1>
    <div>
        <h2>Account Information</h2>
        <p>Username: {{ account.user.username }}</p>
        <p>Email: {{ account.user.email }}</p>
        <p>Balance: {{ account.balance }} $</p>
    </div>
    <div>
        <h2>Your Jobs</h2>
        {% for job in jobs %}
            <div style="border: 1px solid black;">
                <h3>{{ job.title }}</h3>
                <p>{{ job.description }}</p>
                {% if job.is_completed %}
                    <p>Completed</p>
                    <input type="button" value="Submit a dispute" onclick="window.location.href='/accounts/dashboard/submit-dispute/{{ job.id }}'">
                    
                {% else %}
                    <p>Not Completed</p>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <div>
        <h2>Your Job Quotes</h2>
    </div>
    <div>
        <h2>Your Messages</h2>
        {% for message in messages %}
            <div style="border: 1px solid black;">
                <h3>{{ message.sender }}:</h3>
                <p>{{ message.text }}</p>
                <p><a href="{% url 'new_message' %}">Reply</a></p>
            </div>
        {% endfor %}
    </div>
    <br>
    {% if account.contractor %}
    <h1>Contractor Dashboard</h1>
        <div>
            <h2>Account Information</h2>
            <p>Username: {{ account.user.username }}</p>
            <p>Email: {{ account.user.email }}</p>
            <p>Balance: {{ account.balance }} $</p>
        </div>
        <div>
            <h2>Your Submitted Bids</h2>
        </div>
        <div>
            <h2>Your Assigned Jobs</h2>
        </div>
        <div>
            <h2>Your Completed Jobs</h2>
        </div>
    {% else %}
        <p><a href="#">Sign up</a> to be a contractor!</p>
    {% endif %}

{% endblock content %}