{% extends 'app/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'user_profile.css' %}">

    <h1 style="text-transform: capitalize;">{{account.user.username}}'s Profile</h1>
<div id="head">
    <div id="main">
        <h2>Profile Information</h2>
        <p>First Name: {{account.first_name}}</p>
        <p>Last Name: {{account.last_name}}</p>
        <p>Email: {{account.user.email}}</p>
        <p>Click <a href ="../contractor/{{account.user.username}}">here</a> to checkout contractor profile</p>
    </div>
    <div>
        {% if is_Owner %}
            <div id="main">
                <h2 style="text-transform: capitalize;">{{account.user.username}}'s Accepted Jobs</h2>
                {% if accepted_jobs %}
                    {% for job in accepted_jobs %}
                        <div style="border: 1px solid rgb(255, 255, 255)" id="table">
                            <h3 style="text-transform: capitalize;">Title: {{ job.title }}</h3>
                            <p style="text-transform: capitalize;">Description: {{ job.description }}</p>
                            <p style="text-transform: capitalize;">Job issuer: {{ job.user.username }}</p>
                            <p style="text-transform: capitalize;">Location: {{ job.location }}</p>
                            <p style="text-transform: capitalize;">Job Type: {{ job.type }}</p>
                            <p>Budget: {{ job.budget }} €</p>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No accepted jobs yet!</p>
                {% endif %}
            </div>
        {% endif %}
            <div id="main">
                <h2 style="text-transform: capitalize;">{{account.user.username}}'s Completed Jobs</h2>
                {% if completed_jobs %}
                    {% for job in completed_jobs %}
                        <div style="border: 1px solid rgb(255, 255, 255)" id="table">
                            <h3 style="text-transform: capitalize;">Title: {{ job.title }}</h3>
                            <p style="text-transform: capitalize;">Description: {{ job.description }}</p>
                            <p style="text-transform: capitalize;">Job issuer: {{ job.user.username }}</p>
                            <p style="text-transform: capitalize;">Location: {{ job.location }}</p>
                            <p style="text-transform: capitalize;">Job Type: {{ job.type }}</p>
                            <p>Budget: {{ job.budget }} €</p>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No completed jobs yet!</p>
                {% endif %}
            </div>
    </div>
    <br>
        {% if is_Owner and not account.contractor %}
            <p id="box"><a href="{% url 'accounts:become_contractor' %}" id="hover">Sign up</a> to be a contractor!</p>
        {% endif %}
</div>
    
{% endblock content %}