#main{
    width: 40%;
    position: absolute;
    top: 40%;
    left: 30%;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 40px;
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

table{
    justify-content: center;
    display: flex;
    padding: 15px;
    padding-top: 0px;
}

#login{
    width: 150px;
    height: 35px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
    border-color: white;
    font-weight: 800;
}