{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Contact-a-Contractor</title>
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
</head>
<body>
    <header>
        <nav>
            <h1>Contact-a-Contractor</h1>
            <ul>
                <li><a href="/">Home</a></li>
                {% if request.user.is_authenticated %}
                    <p id="loggedIn">Logged in: {{ request.user.username }}</p>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% if request.user.is_superuser %}
                        <li><a href="/admin">Admin Dashboard</a></li>
                    {% else %}
                        <li><a href="{% url 'accounts:user_dashboard' %}">User Dashboard</a></li>
                        <li><a href="{% url 'accounts:user_profile' request.user.username %}">User Profile</a></li>
                        {% if request.user.account.contractor %}
                            <li><a href="{% url 'accounts:contractor_profile' request.user.username %}">Contractor Profile</a></li>
                        {% endif %}
                        <li><a href="{% url 'available_jobs' %}">Jobs</a></li>
                    {% endif %}
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'accounts:register' %}">Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
    
        {% endblock content %}
    </main>
    <footer>
        <p>&copy; 2024 Contact-a-Contractor. All rights reserved.</p>
    </footer>
</body>
</html>